<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h1 th:text="${titulo}"></h1>


				<form th:action="@{/event/save}" th:object="${event}" method="post"
					enctype="multipart/form-data">
					<!-- necesario para subir imagenes(upload de archivos) -->


					<!-- <input type="hidden" th:field="*{id}" /> con SessionAtributes no es necesario -->
					<input type="hidden" th:field="*{id}" />

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre del evento</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{eventName}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('eventName')}"
								th:errors="*{eventName}"></small>
						</div>
					</div>


					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Empresas
							Trabajadoras</label>
						<div class="col-sm-5">
							<select class="form-control" id="hardworkingCompany"
								th:field="*{hardworkingCompany}">
								<option value="" selected>Empresas Trabajadoras</option>
								<option th:each="hardworkingCompany : ${hardworkingCompanys}"
									th:value="${hardworkingCompany.id}"
									th:text="${hardworkingCompany.name}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('hardworkingCompany')}"
								th:errors="*{hardworkingCompany}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Localizaciones</label>
						<div class="col-sm-5">
							<select class="form-control" id="location" th:field="*{location}">
								<option value="" selected>Localizaciones</option>
								<option th:each="location : ${locations}"
									th:value="${location.id}" th:text="${location.locationName}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Productores</label>
						<div class="col-sm-5">
							<select class="form-control" id="producer" th:field="*{producer}">
								<option value="" selected>Productores</option>
								<option th:each="producer : ${producers}"
									th:value="${producer.id}" th:text="${producer.name}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Fecha del Evento</label>
						<div class="col-sm-5">
							<input type="date" th:field="*{eventDate}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<!--<small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('action')}" th:errors="*{action}"></small>-->
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Fecha Montaje</label>
						<div class="col-sm-5">
							<input type="date" th:field="*{startDate}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<!--<small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('action')}" th:errors="*{action}"></small>-->
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Fecha Desmontaje</label>
						<div class="col-sm-5">
							<input type="date" th:field="*{endDate}" class="form-control"
								th:errorclass="'form-control alert-danger'" />
							<!--<small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('action')}" th:errors="*{action}"></small>-->
						</div>
					</div>




					<input type="submit" value="Crear Evento" class="btn btn-primary"
						style="margin-top: 10px" th:if="${event.id == null}" />

					<div>
						<input type="submit" value="Guardar cambios"
							class="btn btn-primary" style="margin-top: 10px"
							th:if="${event.id != null}" />
					</div>


				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>