<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h1 th:text="${titulo}"></h1>

				<div th:object="${role}">
					<!--  <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="error:${#fields.errors('*')}" th:text="${error}"></li>
					</ul>-->
				</div>
				<form th:action="@{/role/save}" th:object="${role}" method="post"
					enctype="multipart/form-data">
					<!-- necesario para subir imagenes(upload de archivos) -->


					<!-- <input type="hidden" th:field="*{id}" /> con SessionAtributes no es necesario -->
					<input type="hidden" th:field="*{id}" />
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Role Name</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{roleName}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Role Description</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{roleDescription}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('roleDescription')}"
								th:errors="*{roleDescription}"></small>
						</div>
					</div>




					<input type="submit" value="Crear Role" class="btn btn-primary"
						style="margin-top: 10px" th:if="${role.id == null}" />

					<div>
						<input type="submit" value="Guardar cambios"
							class="btn btn-primary" style="margin-top: 10px"
							th:if="${role.id != null}" />
					</div>


				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>