<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav th:fragment="paginator">
		<ul class="pagination">
			<li class="page-item"
				th:class="${page.first? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${page.first}">Primera</span> <a
				class="page-link" th:if="${!page.first}"
				th:href="@{${page.url}(page=0)}"> Primera</a></li>
			<li class="page-item"
				th:class="${!page.hasPrevious? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${!page.hasPrevious}">&laquo;</span> <a
				class="page-link" th:if="${page.hasPrevious}"
				th:href="@{${page.url}(page=${page.paginaActual-2})}">&laquo;</a></li>
			<!-- flecha izquierda -->
			<li class="page-item" th:each="item:${page.paginas}"
				th:class="${item.actual}? 'page-item active': 'page-item '"><span
				class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
				<a class="page-link" th:if="${!item.actual}"
				th:text="${item.numero}"
				th:href="@{${page.url}(page=${item.numero-1})}"></a></li>
			<li class="page-item"
				th:class="${!page.hasNext? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${!page.hasNext}">&raquo;</span> <a
				class="page-link" th:if="${page.hasNext}"
				th:href="@{${page.url}(page=${page.paginaActual})}">&raquo;</a></li>
			<!-- flecha derecha -->
			<li class="page-item"
				th:class="${page.Last? 'page-item disabled': 'page-item'}"><span
				class="page-link" th:if="${page.last}">Última</span> <a
				class="page-link" th:if="${!page.last}"
				th:href="@{${page.url}(page=${page.totalPaginas-1})}"> Última </a></li>


		</ul>
	</nav>
</body>
</html>