<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h1 th:text="${titulo}"></h1>


				<form th:action="@{/roleHasMenu/save}" th:object="${roleHasMenu}"
					method="post" enctype="multipart/form-data">
					<!-- necesario para subir imagenes(upload de archivos) -->


					<!-- <input type="hidden" th:field="*{id}" /> con SessionAtributes no es necesario -->
					<input type="hidden" th:field="*{id}" />


					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-1 col-form-label">Role</label>
						<div class="col-sm-5">
							<select class="form-control" id="hardworkingCompany"
								th:field="*{role}">
								<option value="" selected>Selecciona Role</option>
								<option th:each="role : ${roles}" th:value="${role.id}"
									th:text="${role.roleName}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-1 col-form-label">Menu</label>
						<div class="col-sm-5">
							<select class="form-control" id="hardworkingCompany"
								th:field="*{menu}">
								<option value="" selected>Selecciona Menu</option>
								<option th:each="menu : ${menus}" th:value="${menu.id}"
									th:text="${menu.label}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('menu')}" th:errors="*{menu}"></small>
						</div>
					</div>




					<input type="submit" value="Crear RoleHasMenu"
						class="btn btn-primary" style="margin-top: 10px"
						th:if="${roleHasMenu.id == null}" />

					<div>
						<input type="submit" value="Guardar cambios"
							class="btn btn-primary" style="margin-top: 10px"
							th:if="${roleHasMenu.id != null}" />
					</div>


				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>