<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h1 th:text="${titulo}"></h1>

				<div th:object="${eventHasMaterial}">
					<!--  <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="error:${#fields.errors('*')}" th:text="${error}"></li>
					</ul>-->
				</div>
				<form th:action="@{/eventHasMaterial/save}"
					th:object="${eventHasMaterial}" method="post"
					enctype="multipart/form-data">
					<!-- necesario para subir imagenes(upload de archivos) -->


					<!-- <input type="hidden" th:field="*{id}" /> con SessionAtributes no es necesario -->
					<input type="hidden" th:field="*{id}" />


					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Evento</label>
						<div class="col-sm-5">
							<select class="form-control" id="event" th:field="*{event}">
								<option value="" selected>Selecciona Evento</option>
								<option th:each="event : ${events}" th:value="${event.id}"
									th:text="${event.eventName}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('event')}" th:errors="*{event}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label"> Material
							audiovisual</label>
						<div class="col-sm-5">
							<select class="form-control" id="audioVisualMaterial"
								th:field="*{audiovisualMaterial}">
								<option value="" selected>Selecciona Material</option>
								<option th:each="audioVisualMaterial : ${audioVisualMaterials}"
									th:value="${audioVisualMaterial.id}"
									th:text="${audioVisualMaterial.materialName}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('audiovisualMaterial')}"
								th:errors="*{audiovisualMaterial}"></small>
						</div>
					</div>




					<input type="submit" value="Crear eventHasMaterial"
						class="btn btn-primary" style="margin-top: 10px"
						th:if="${eventHasMaterial.id == null}" />

					<div>
						<input type="submit" value="Guardar cambios"
							class="btn btn-primary" style="margin-top: 10px"
							th:if="${eventHasMaterial.id != null}" />
					</div>


				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>