<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card border-primary text-center">
			<div class="card-header">Sign In</div>
			<div class="card-body">

				<form th:action="@{/login}" method="post">

					<div class="form-group col-sm-4"
						style="margin-bottom: 10px; margin-left: 33%">
						<input type="text" name="username" id="username"
							class="form-control" placeholder="Username" autofocus required />
					</div>

					<div class="form-group col-sm-4" style="margin-left: 33%">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Password" required />
					</div>

					<div class="form-group col-sm-4" style="margin-left: 33%">
						<input type="submit" style="margin-top: 10px"
							class="btn btn-lg btn-primary " value="Sign In" />
					</div>
					<div style="margin-top: 10px">
						<a th:href="@{/worker/create}" class="btn btn-success btx-xs">Registro
							Trabajador</a> <a th:href="@{/producer/create}"
							class="btn btn-warning btx-xs">Registro Productor</a>
					</div>
				</form>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>