<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h1 th:text="${titulo}"></h1>


				<form th:action="@{/userAccount/save}" th:object="${userAccount}"
					method="post" enctype="multipart/form-data">
					<!-- necesario para subir imagenes(upload de archivos) -->


					<!-- <input type="hidden" th:field="*{id}" /> con SessionAtributes no es necesario -->
					<input type="hidden" th:field="*{id}" />
					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Nombre de la cuenta</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{username}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">password</label>
						<div class="col-sm-5">
							<input type="password" th:field="*{password}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-5">
							<input type="text" th:field="*{email}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label class="col-sm-2 col-form-label">Rol</label>
						<div class="col-sm-5">
							<select class="form-control" id="role" th:field="*{role}">
								<option value="" selected>Selecciona un Role</option>
								<option th:each="rol : ${roles}" th:value="${rol.id}"
									th:text="${rol.roleName}"></option>
							</select>
						</div>
					</div>

					<div class="form-group row" style="margin-top: 10px">
						<label for="file" class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></small>
						</div>
					</div>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
					<label>Activo</label>
					<input  type="checkbox" name="active" th:checked="${userAccount.active}" />
					</div>	
							

					<input type="submit" value="Crear Cuenta" class="btn btn-primary"
						style="margin-top: 10px" th:if="${userAccount.id == null}" />

					<div>
						<input type="submit" value="Guardar cambios"
							class="btn btn-primary" style="margin-top: 10px"
							th:if="${userAccount.id != null}" />
					</div>


				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>